header {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background: transparent;
  transition: all ease 0.2s;
}

header.scrolled {
  background: var(--background-dark);
}

a {
  height: 25px;
  all: unset;
  color: var(--text-light);
  transition: all ease 0.2s;
}

h1 {
  font-size: 1.2rem;
}

a:hover {
  cursor: pointer;
  color: var(--text-grey);
}

@media (min-width: 600px) {
  a {
    font-size: 2.4rem;
  }
}