@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Regular.ttf");
}

:root {
  --background-dark: #141414;
  --background-light: hsl(0, 0%, 100%);
  --text-light: #fff;
  --text-grey: #999;
  --text-dark: #141414;

  --input-width: 300px;
  --input-width-mobile: 100%;
  --input-height: 30px;

  --text-header: 2rem;
  --text-header-mobile: 1.2rem;

  --border-radius-base: 5px;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: var(--background-dark);
}

html, body, #root {
  height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

li {
  list-style: none;
}