.home__page {
  background-color: var(--background-dark);
  padding: 2rem
}

.home__page--header {
  padding-top: 2rem;
  height: 20vh;
  margin: 2rem;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.home__page--search {
  min-width: 300px;;
}

.home__page--select {
  max-width: 300px;
  margin: 0 2rem !important;
}

.lists {
  margin-top: -100px;
}